app-reset-button {
	margin-top: calc(1.5 * var(--form-padding));
	display: grid;
	place-items: center;

	button {
		all: unset;
		border-width: 1px;
		border-style: solid;
		border-color: var(--reset-btn-border-clr);
		border-radius: 3px;
		font-family: inherit;
		text-align: center;
		display: grid;
		place-items: center;
		font-family: var(--font-family-sansserif);
		font-size: .95rem;
		padding: .15em .4em;
		cursor: pointer;
		background: var(--reset-btn-bg-clr);
		color: var(--reset-btn-text-clr);
		transition: 150ms;

		&:hover {
			background: var(--reset-btn-bg-clr-hover);
			color: var(--form-text-clr);
			border-color: var(--reset-btn-border-clr-hover);
		}

		&:active {
			transform: scale(.975);
		}
	}
}